.tabel-factura,
.tabel-factura-text,
.factura-tabel-th {
  border: 1px solid black;
  border-collapse: collapse;
  word-wrap: break-word;
}

.tabel-factura {
  width: 100%;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.textarea {
  resize: none;
  border-color: lightgray;
  width: 210px;
  height: 180px;
  box-shadow: inset 0 0 1px #000000;
}

.factura-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.factura {
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}

body {
  margin: 0;
  display: block;
  background-color: whitesmoke;
}

main {
  margin: 20px auto;
  width: 80%;
}

.factura-nume {
  position: absolute;
  bottom: 0;
  margin-left: 37%;
}

.factura-nume-titlu {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 15px;
}

.factura-nume-input {
  float: right;
  border-color: lightgray;
}

.funizor-cumparator {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 20px;
}

.factura-nume-label {
  float: left;
  clear: left;
  text-align: left;
  padding-right: 5px;
  padding-bottom: 4px;
  font-size: 20px;
}

.factura-tabel-th {
  padding: 5px;
  font-size: 20px;
}

.um {
  width: 50px;
}

.denumirea-produselor-input, .um-input, .cantitate-input, .pret-unitar-input {
  max-width: -webkit-fill-available;
}

.denumirea-produselor-input {
  width: 300px;
  margin: 5px;
  border-color: lightgray;
}

.um-input {
  width: 40px;
  margin: 5px;
  border-color: lightgray;
}

.cantitate-input {
  width: 80px;
  margin: 5px;
  border-color: lightgray;
}

.pret-unitar-input {
  width: 120px;
  margin: 5px;
  border-color: lightgray;
}

.valoare-lei {
  width: 100px;
}

.valoare-tva {
  width: 90px;
}

.nr-crt {
  width: 30px;
}

.valoare-tva-button {
  background-color: indianred;
  color: white;
  border: 0;
  width: 70px;
  font-size: 16px;
}

.factura-tabel-th {
  font-weight: normal;
  border: 1px solid black;
  border-collapse: collapse;
}

.semnatura-furnizor {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.spatiu-semnatura {
  width: 550px;
}

.tabel-factura-text {
  text-align: center;
  font-size: 20px;
}

.aliniere-text {
  text-align: left !important;
}

.total {
  padding-bottom: 10px;
  padding-top: 10px;
}

.randuri-fara-text {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.container {
  width: auto;
}

.navigation-bar {
  background: #173f5f;
  padding: 15px 15px;
  border-right: 1px solid white;
  display: flex;
  text-align: center;
}

.footer {
  background: #20639b;
  padding: 15px 15px;
  border-right: 1px solid white;
  color: white;
}

.subheader-stanga {
  text-align: left;
  font-size: 35px;
  color: white;
  font-family: "Garamond", sans-serif;
  flex: 70%;
  transform: scale(1, 1.5);
  letter-spacing: 2px;
  padding-left: 183px;
}

.subfooter {
  text-align: right;
  padding: 15px 15px;
}
.subheader-dreapta {
  flex: 55%;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subheader-dreapta button {
  background: #173f5f;
  color: white ;
}

.factura-noua {
  float: left;
}

/* Var 2 pentru printare
@media print {
  header, footer, input, button {
    display: none;    
  }

  main {
    width:100%!important;
    padding:0 !important;
    margin:0 !important;
  }
}

@page {
  margin: 2cm;
} 
*/